Django==1.11.9
StatusCode==1.0.0
django-admin==1.1.1
django-ip==1.0.2
django-models-ext==1.1.0
django-redis-connector==1.0.1
django-response==1.0.0
django-rlog==1.0.7
django-shortuuidfield==0.1.3
django-uniapi==1.0.1
django-we==1.1.2
mock==2.0.0
mysqlclient==1.3.12
pysnippets==1.0.4
pywe-template-message==1.0.0
redis==2.10.6
redis-extensions==1.1.6
rlog==0.3